<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ToListApp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="util.YololistApi"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="ToList"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yololist"
        tools:replace="android:icon">
        <activity android:name=".ListHistoryActivity"></activity>
        <activity android:name=".UpdateProfile" />
        <activity android:name=".UpdateListActivity" />
        <activity android:name=".viewBudgetActivity" />
        <activity android:name=".UpdateItemsActivity" />
        <activity android:name=".AddListActivity" />
        <activity android:name=".userprofileActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="ToList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.ToListApp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".ReminderBroadcast" />
    </application>

</manifest>